.Actions span {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin: 5px 15px;
  border-radius: 150%;
  border: 2px solid black;
  color: black;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  transition-duration: 0.1s;
  transition-property: transform;
  cursor: pointer;
}
.Actions span:hover {
  transform: scale(1.1);
}
.Actions .ActionsInfo {;
  border-color: #3498DB;
  color: #3498DB;
}
.Actions .ActionsDelete {
  border-color: #B7477D;
  color: #B7477D;
}
